
button { cursor: pointer; 
}

  select { cursor: pointer; 
}
 
  body {
    background-color: rgb(255, 255, 255);
    font-size: 1.6rem;
    line-height: 1.5;
  }

.hero {
  margin-block-start: 84px;
  text-align: center;
}

.hero-text {
  color: black;
  margin-block-end: 45px;
  font: calibri;
  font-size: 30px; 
}

.container {
    max-width: 540px;
    margin-inline: auto;
    max-width: 1230px;
    border-radius: 25px; 
    padding: 5px; 
    outline: 2px solid; 
    background-image: linear-gradient(to right,  rgb(118, 223, 255), #e67890);
    border: solid 3px white;
}
  
.hero .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
      
.paivitahaku {
    padding:20px 60px; 
    border-radius: 15px; 
    background-color: rgb(255, 255, 255); 
    font-size: 24px;
    margin-right: -85px;
}

.paivitahaku:hover {
    background-color: #e67890;
    color: white;
}

.paivitahaku:active {
    background-color: black;
    color: white;
}

.satamateksti {
    font-size: 30px; 
    font: calibri;
}

option:hover {
    background-color: #e67890;
}

.laivavalikko {
    font-size: 20px; 
    padding: 20px 35px; 
    border-radius: 10px;
}

.hero-text {
    font-size: 30px; 
}

.tiedot1 {
    padding:20px; 
    border-radius: 15px; 
    background-color:white; 
    margin-right: 20px;
    border: solid 3px rgb(118, 223, 255);
}

.satamavalikko {
    font-size: 20px; 
    padding: 20px 25px; 
    border-radius: 10px;
}